// CASES
.cases.mt-4.mb-2.js-tabs(data-aos="fade-up")
  .container
    .text__tabs.row.js-tabs-trigger
      .col-12.col-md-4
        a(href="#" data-tab="tab_1").is-active Loyalty Programmes
      .col-12.col-md-4
        a(href="#" data-tab="tab_2") Food & Drug Retail Experience
      .col-12.col-md-4
        a(href="#" data-tab="tab_3") Financial Services Experience
      .col-12.col-md-4
        a(href="#" data-tab="tab_4") Fuel & Automotive Experience
      .col-12.col-md-4
        a(href="#" data-tab="tab_5") Retail & e-commerce Experience
      .col-12.col-md-4
        a(href="#" data-tab="tab_6") View ALL Industries

  // active tab should have inline styles due to nature of jquery animation
  .tab(data-tab="tab_1" style="display: block")
    .container
      .row.mt-4
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-1.jpg" srcset="img/case-1@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>Amazon</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-2.jpg" srcset="img/case-2@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>Boots Alliance</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-3.jpg" srcset="img/case-3@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>Toyota Corporation</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-4.jpg" srcset="img/case-4@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>John Lewis & Partners</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-5.jpg" srcset="img/case-5@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>Jaguar Land Rover </strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-6.jpg" srcset="img/case-6@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>FSG Holdings</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More

  // tab
  .tab(data-tab="tab_2")
    .container
      .row.mt-4
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-1.jpg" srcset="img/case-1@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>tab 2</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More

  // tab
  .tab(data-tab="tab_3")
    .container
      .row.mt-4
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-1.jpg" srcset="img/case-1@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>tab 3</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More

  // tab
  .tab(data-tab="tab_4")
    .container
      .row.mt-4
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-1.jpg" srcset="img/case-1@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>tab 4</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More

  // tab
  .tab(data-tab="tab_5")
    .container
      .row.mt-4
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-1.jpg" srcset="img/case-1@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>tab 5</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More

  // tab
  .tab(data-tab="tab_6")
    .container
      .row.mt-4
        .col-12.col-sm-6.col-md-4
          // case card
          a(href="#").case-card
            .case-card__image
              img(src="img/case-1.jpg" srcset="img/case-1@2x.jpg 2x")
            .case-card__content
              .case-card__name <strong>tab 6</strong> <br/>Phikdg kjg jkdgj khdjkg jkx jkdz hgjkdgjk hdxjkg dkjxg
              .case-card__cta More
