// TEXT
.text.mt-4.mb-9
  .container
    .row(data-aos="fade-up")
      .col-12.col-md-6
        .text__image
          img(src="img/articleImage.jpg" srcset="img/articleImage@2x.jpg 2x")
      .col-12.col-md-6
        h2.h2-title A Premium Offering
        p.p-main.mt-1 Over an 18-month period, we doluptio iuscid eror mi, incimus volupta estiae ipsa vellia ea explat doluptas ad qui untiore scipsunt in pro enisquas simaximusam, offictent pel expliquosa doloribus quo ventio. Ut eum volorerumet quid molut omnisci liasseq uuntis rem sunt pore, ene volo et atiae que volendi molores re, tem endisti.ipid ut arum nos apel est lantem et idunt.

    .row.mt-5(data-aos="fade-up")
      .col-12.col-md-7.offset-md-1
        p.p-regular Magnim exerrum eaque earum eatur arumqui ducimoluptat esecusandunt occatenet latus aped eossuntium int, es doluptatenis sed maximol oratur aut autem faccatinti ut utatiur. Quibus, imporepudit harum am que doluptinctes et endam, alis que nobis uta nis exero to etusciento beatibus anducit prae non cusaeperi sum qui am apic tem. Et ute pelessi magnimp erruptat quissit volor sequam fugiaerum endam quam exerepratur. Aquam voloribus nectati ssintor estorro volor aut mos solupta tquiaec toressit eumquis modissi minveli cillit accuptaquam, optatur?
        p.p-regular As ut est, omnis ad exero tem estesec errumqu idelesed magnam ius dolor sit.

        br
        br
        p.p-huge Optional Cross-head
        p.p-regular Quibus, imporepudit harum am que doluptinctes et endam, alis que nobis uta nis exero to etusciento beatibus anducit prae non cusaeperi sum qui am apic tem. Et ute pelessi magnimp erruptat quissit volor sequam fugiaerum endam quam exerepratur. Aquam voloribus nectati ssintor estorro volor aut mos solupta tquiaec toressit eumquis modissi minveli cillit accuptaquam, optatur. As ut est, omnis ad exero tem estesec errumqu idelesed magnam ius dolor sit.

        br
        br
        p.p-huge Success Rate
        p.p-regular Quibus, imporepudit harum am que doluptinctes et endam, alis que nobis uta nis exero to etusciento beatibus anducit prae non cusaeperi sum qui am apic tem. Et ute pelessi magnimp erruptat quissit volor sequam fugiaerum endam quam exerepratur. Aquam voloribus nectati ssintor estorro volor aut mos solupta tquiaec toressit eumquis modissi minveli cillit accuptaquam, optatur. As ut est, omnis ad exero tem estesec errumqu idelesed magnam ius dolor sit.

      .col-12.col-md-4
        .team-card.team-card--small
          .team-card__image
            img(src='img/teamCard.jpg' srcset="img/teamCard@2x.jpg 2x")
          .team-card__content
            .p-regular Project lead: <br/>Richard Campbell
            .team-card__links
              a(href="mailto:richard@gmail.com") Email Richard
