// HOME
.text.mt-4.mb-3
  .container
    .h2-title Aligning Minds
    .row.mt-2
      .col-12.col-md-6
        p.p-huge We are a major player in assisting global retailers make best use of their customer data. Driving that success through a hands-on approach to strategic consultancy and operational delivery.
      .col-12.col-md-6
        p.p-main Through our strategic, global approach, we as eos doluptio iuscid eror mi, incimus volupta estiae ipsa vellia ea explat doluptas ad qui untiore scipsunt in pro enisquas simaximusam, offictent pel expliquosa doloribus quo ventio. Ut eum volorerumet quid molut omnisci liasseq uuntis rem sunt pore, ene volo et atiae que volendi molores re, tem endisti.ipid ut arum nos apel est lantem et idunt.

