// HERO
.hero.page-h-offset.hero--gradient
  .hero__background
  .hero__wrapper
    .container
      .hero__text.mw-700(data-aos="fade")
        h1.h1-title A sustainable engagement roleout for one of Serie A’s iconic brands. <br/>Practically applied.
