// HERO
.hero.page-h-offset
  .hero__background
    img(src="img/heroHome.png" srcset="img/heroHome@2x.png 2x")
  .hero__wrapper
    .container
      .hero__text(data-aos="fade")
        h1.h1-title Maximising the Value of Customer Data
        p.p-bold We are delighted to announce that we will be working with Company X
