---
title: Article
---
extends shared/_layout
block content

  include ../components/hero/_article.pug
  include ../components/text/_article.pug
  include ../components/numbers/_article.pug
  include ../components/testimonials/_article.pug
  include ../components/cases/_more.pug
