// TEAM BANNER
.team-b
  .container
    .row
      .col-12.col-md-6
        .team-b__content(data-aos="fade-up")
          .p-huge Our Leadership Team
          .p-main.mt-2 With combined total of more than 100 years of industry knowledge, our people are what define us.  L ipsa enestemporia vellia ea explat doluptas ad qui untiore scipsunt in pro enisquas simaximusam, offictent pel expliquosa doloribus quo ventio. Ut eum volorerumet quid molut omnisci liasseq uuntis rem sunt pore, ene volo et atiae que volendi inimoluptas molores re, tem ipsantibea endisti.
          a(href="#").team-b__cta View all consultant profiles
      .col-12.col-md-6
        .team-b__img(data-aos="fade")
          img(src="img/omaribowers.jpg" srcset="img/omaribowers@2x.jpg 2x")
