// TEAM BANNER
.team.page-h-offset
  .container
    .team__crumb.mt-3
      .team__crumb-position Chief Executive Officer & Chairman
      .team__crumb-bg
        img(src="img/crumb-bg.jpg" srcset="img/crumb-bg@2x.jpg 2x")

    .team__content
      .row.mt-3
        .col-12.col-md-8
          h1.h0-title Tony Buffin
          p.p-main Tony is commercial & strategic lead and the consultancy’s founding partner, appointed board Chair,  September 2019.

      .row.mt-3
        .col-12.col-md-6
          p.p-bold Expertise
          p.p-regular Business strategy, multi-sector transformation and growth (suggest core expertise- i.e. what you have spent most of your career doing)

          br
          br

          p.p-bold Career
          p.p-regular Working at senior levels for FTSE 100 and ASX 20 listed businesses, Tony is a former CEO of the Loyalty Management Group (LMG) and CFO of the Coles Group in Australia, where he proved a key executive when effecting one of the most successful turnarounds in global retail. Prior to that, Tony held senior leadership positions with UK retailers Boots Alliance and Halfords.
          p.p-regular (suggest 100 words maximum- remember that people can also click through to your LinkedIn profile which will give them full chapter and verse)

          br
          br

          p.p-bold Global Experience
          p.p-regular Tony has worked in 11 territories internationally, including extended spells in Australia, China, Hong Kong, UK and USA.
          p.p-regular List countries here that you have worked in - either permanently, or on a project basis. If more than ten countries, then suggest it says ‘Tony has worked in XYZ countries worldwide, including X/Y/Z (named countries).

        .col-12.col-md-6
          .team-card.team-card--big
            .team-card__image
              img(src='img/teamCard.jpg' srcset="img/teamCard@2x.jpg 2x")
            .team-card__content
              .team-card__name Based in our Hong Kong Office
              .team-card__links
                a(href="mailto:tony@gmail.com") Email Tony
                a(href="https://linkedin.com" target="_blank") View on Linkedin
