// TEAM banner
.team-b
  background: $colorBg
  &__row
    .col-12

  &__content
    padding-top: 60px

  &__img
    margin-right: -32px
    img
      width: 100%

  &__cta
    display: inline-block
    margin-top: 14px
    font-size: 14px
    font-weight: 700
    line-height: 34px
    transition: color .25s $ease
    &:hover
      color: $colorPrimary

// TEAM page
.team
  &__crumb

  &__crumb-position
    padding: 12px 0
    font-size: 18px
    line-height: 24px
    color: $colorViolet
  &__crumb-bg
    font-size: 0
    img
      width: 100%
      height: 5px

  &__content


// team card
.team-card
  display: block
  background: $colorBg
  transition: .25s $ease
  &:not(.team-card--big), &:not(.team-card--small)
    &:hover
      box-shadow: 3px 4px 4px 3px rgba(138, 133, 133, 0.5)
  &--big
    max-width: 450px
  &--small
    max-width: 210px
    .team-card__content
      padding-left: 15px
  &--big, &--small
    background: white
    margin-left: auto
    box-shadow: 3px 4px 4px 3px rgba(138, 133, 133, 0.5)
  &:hover
    color: $fontColor
    .team-card__more
      color: $fontColor
  &__image
    font-size: 0
    img
      width: 100%
  &__content
    padding: 20px 20px 20px 32px
  &__links
    margin-top: 14px
    font-size: 14px
    font-weight: 700
    line-height: 34px
    display: flex
    flex-wrap: wrap
    a
      position: relative
      display: inline-block
      transition: color .25s $ease
      &:hover
        color: $colorPrimary
      &::after
        display: inline-block
        content: '|'
        margin-left: 8px
        margin-right: 8px
        color: $fontColor
      &:last-child
        &::after
          display: none
  &__more
    font-size: 14px
    font-weight: 700
    line-height: 34px
    color: #9B9B9B
    transition: color .25s $ease
