// HEADER :: START
header.header
  .header__container.js-container-align(data-position="right" data-selector=".header")
    .header__wrapper
      a(href="homepage.html").header__logo
        +svgMono('logo')

      .header__cta
        form(action="#").header__search
          input.header__search-input(type="search")
          button.header__search-button(type="submit")
            +svgMono('search')

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    .mobile-navi__background
    .mobile-navi__panel
      ul.mobile-navi__menu
        li
          a(href="homepage.html") Who We Are
        li
          a(href="#") Consultants
        li
          a(href="#") What We Do
          ul
            li
              a(href="#") > Strategic Planning
            li
              a(href="#") > Implementation
            li
              a(href="#") > Using Technology
            li
              a(href="#") Case Studies
            li
              a(href="#") Contact
