// FOOTER :: START
footer.footer
  .footer__top
    .container
      .row
        .col-12.col-md-3
          ul.footer__menu
            li
              a(href="#") Loyalty Marketing
            li
              a(href="#") Customer Engagement
            li
              a(href="#") Industry Insight
            li
              a(href="#") Knowledge
            li
              a(href="#") Analytics & Insights
            li
              a(href="#") Programme Design
            li
              a(href="#") Technology
            li
              a(href="#") Campaign & Rollout

        .col-12.col-md-3
          ul.footer__menu
            li
              a(href="#") About Tecsa
            li
              a(href="#") The Tecsa Philosophy
            li
              a(href="#") Client Case Studies
            li
              a(href="#") Careers
            li
              a(href="#") Privacy Policy
            li
              a(href="#") COVID-19 Procedures
            li
              a(href="#") Contact

        .col-12.col-md-3.offset-md-3.d-flex.flex-column.justify-content-end
          .footer__logo
            +svgMono('logo')

  .footer__bottom
    .container
      .footer__copy ©2020 Tecsa


// FOOTER :: END
