// TESTIMONIALS
.testimonials.bg-light.mt-4.mb-4
  .container
    .row(data-aos="fade-up")
      .col-12.col-md-8.offset-md-2
        .h1-title “Client testimonial dempore stiant aut estrumq uatusti assinis qui tem es re verum et, se illesequo"
        .p-label.mt-1 Client name, Head of Customer Engagement
