// TESTIMONIALS
.testimonials.mt-2
  .container
    .row.align-items-center
      .col-12.col-md-4
        .testimonials__image(data-aos="fade")
          img(src="img/as-roma-hd-logo.png" srcset="img/as-roma-hd-logo@2x.png 2x")
      .col-12.col-md-8
        .testimonials__content(data-aos="fade-up")
          .h1-title “Et ad que doluptatur aut dempore stiant aut estrumq uatusti assinis qui tem es re verum et, se illesequo"
          .p-labe.mt-1 Client name, Head of Customer Engagement
