// MAP
.map
  .map__image(data-aos="fade")
    include map.svg
    //- img(src='img/map.png' srcset='img/map@2x.png 2x')

  .map__baloons
    div(data-office="office_1")
      .map-baloon
        .map-baloon__image
          img(src="img/mapBaloonImage.jpg" srcset='img/mapBaloonImage@2x.jpg 2x')
        .map-baloon__content
          .map-baloon__name UK Office: Leading projects in Asia and Australasia
          a(href="#").map-baloon__cta Contact UK

    div(data-office="office_2")
      .map-baloon
        .map-baloon__image
          img(src="img/mapBaloonImage.jpg" srcset='img/mapBaloonImage@2x.jpg 2x')
        .map-baloon__content
          .map-baloon__name Hong Kong Office: Leading projects in Asia and Australasia
          a(href="#").map-baloon__cta Contact HONG_KONG
