.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-logo {
  width: 3.24em;
  height: 1em;
  fill: #040858;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #040858;
}
