// NUMBERS
.numbers.mt-5.mb-5(data-aos="fade-up")
  .container
    .numbers__title Project Insight
    .numbers__content.mt-1
      .row
        .col-12.col-md-8
          .numbers__num +247<span>%</span>
          p.p-main Lntiore scipsunt in pro enisquas simaximusam, offictent pel expliquosa doloribus quo ventio.

