// BENEFITS
.benefits.mt-5.mb-5
  .container
    .row
      .col-12.col-sm-6.col-lg-3
        .benefits__card(data-aos="fade-up")
          .benefits__icon
            img(src="img/benefits-Investigative.svg")
          .p-bold.c-primary Investigative
          .p-regular.mt-1 Funtis rem pore, ene volo et atiae que volendi
      .col-12.col-sm-6.col-lg-3
        .benefits__card(data-aos="fade-up" data-aos-delay="100")
          .benefits__icon
            img(src="img/benefits-Collaborative.svg")
          .p-bold.c-primary Collaborative
          .p-regular.mt-1 Krem pore, ene et atiae que volendi
      .col-12.col-sm-6.col-lg-3
        .benefits__card(data-aos="fade-up" data-aos-delay="200")
          .benefits__icon
            img(src="img/benefits-Resourceful.svg")
          .p-bold.c-primary Resourceful
          .p-regular.mt-1 Funtis rem pore, ene volo et atiae que volendi
      .col-12.col-sm-6.col-lg-3
        .benefits__card(data-aos="fade-up" data-aos-delay="300")
          .benefits__icon
            img(src="img/benefits-Imaginative.svg")
          .p-bold.c-primary Imaginative
          .p-regular.mt-1 Funtis rem pore, ene volo et atiae que volendi
